$primary-color:#511F50;
$primary-color-light:rgba(81, 31, 80,0.5);

@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500&display=swap');

body {
    font-family: League Spartan;
}

.mar-t-2{
    margin-top: 0rem;
}

#star-card{
    background-color: #ebe1eb;   // change it later
    border-radius: 1rem;
    border: none;
    color:$primary-color;    // change it later

    i{
        color: 	#e3c16d;
    }
}

#review-text {

    text-align: left;

    h1#review-heading{
        color: $primary-color;
        text-align: left;
        padding-bottom: 0rem;
        font-weight: bolder;
        word-spacing: 3px;
        font-size: 64px;
        line-height: 55px;
    }
    p#review-para{
        color: $primary-color-light;
        font-size: 18px;
    }
    
}

#review-card-body{

   
}


@for $i from 1 through 3 {
    #review-card:nth-child(#{$i}){
        margin-top: 1rem;
        margin-right: 2rem;
        margin-left: $i * 2rem;
    }
}



@media (max-width: 480px) {
    .mar-l-2 {
      margin-left: 0;
    }

    .mar-l-4 {
        margin-left: 0;
      }

      .mar-t-2{
        margin-top: 10px;
    }
    @for $i from 1 through 3 {
        #review-card:nth-child(#{$i}){
            margin-top: 1rem;
            margin-right: 2rem;
            margin-left: 2rem;
        }
    }

    #review-text {

        text-align: center;

        h1#review-heading{
            text-align: center;
            font-size: 52px;
            padding: 2rem;
            line-height: 45px;
        }
        
        
    }


  }