$primary-color:#511F50;
$primary-color-light:rgba(81, 31, 80,0.5);

@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500&display=swap');

body {
    font-family: League Spartan;
}

.mar-t-2{
    margin-top: 0rem;
}

#star-card{
    background-color: #ebe1eb;   // change it later
    border-radius: 1rem;
    border: none;
    color:$primary-color;    // change it later

    i{
        color: 	#F19035;
    }

    &:hover{
        
    }
}

#review-text {

    text-align: left;

    h1#review-heading{
        color: $primary-color;
        text-align: left;
        padding-bottom: 0rem;
        font-weight: bolder;
        word-spacing: 3px;
        font-size: 64px;
        line-height: 55px;
    }
    p#review-para{
        color: $primary-color-light;
        font-size: 18px;
    }
    
}

#review-card-body{
    #review-card{
        transition: all 0.25s ease-out;
        &:hover{
            transform: perspective(100px) translateZ(10px);
            
        }
    }
   
}


@for $i from 1 through 3 {
    #review-card:nth-child(#{$i}){
        margin-top: 1rem;
        margin-right: 2rem;
        margin-left: $i * 2rem;
    }
}


.testimonial{
    background: $primary-color;
    border-radius: 0.5rem;
    margin-top:0.5rem;
    margin-left:0.5rem;
    transition: all 0.25s ease-out;

    &:hover{
        transform: perspective(100px)  rotate(5deg);
    }

    #user-img{
        width: 3rem;
        height: 3rem;
        border-radius: 4rem;
    }

    .user-name{
        color: white;
        padding-top: 0.20rem;

        #user-badge{
            color: #9C568B; 
            margin-top: -0.25rem;

        }
    }

    

}


.testimonial-text {
    color: white;
    text-align: left;
    font-size: 14px;
    
}


@for $i from 1 through 3 {
    #testimonial-card:nth-child(#{$i}){
        margin-top: $i * 1.5rem;
    }
}

@media (max-width: 767px) {
    .mar-l-2 {
      margin-left: 0;
    }

    .mar-l-4 {
        margin-left: 0;
      }

      .mar-t-2{
        margin-top: 10px;
    }
    @for $i from 1 through 3 {
        #review-card:nth-child(#{$i}){
            margin-top: 1rem;
            margin-right: 2rem;
            margin-left: 2rem;
        }
    }


    #review-text {

        text-align: center;

        h1#review-heading{
            text-align: center;
            font-size: 52px;
            padding: 2rem;
            line-height: 45px;
        }
        
        
    }


    .testimonial-text {
        font-size: 18px;
        font-style: normal;
    }

    
    @for $i from 1 through 3 {
        #testimonial-card:nth-child(#{$i}){
            margin-top: 1rem;
            margin-right: 1rem;
            @if($i==3){
                margin-bottom: 2rem;
            }
        }
    }


  }